.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
 
  
  .searchInput {
      margin-top: 7px;
  }
  .navbar-search {
    width: 30%;
  }
  .section-title {
    margin: 12px 15px 20px;
    padding: 5px 1px 6px 12px;
    border: none;
    background: #e7e7e7;
    font-size: 22px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
  }
 
 
 
  .active-cyan-4 input[type=text]:focus:not([readonly]) {
      border: 1px solid #4dd0e1;
      box-shadow: 0 0 0 1px #4dd0e1;
  }




  .contact-us {
    line-height: 30px;
  }

  .card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}

.breadcrumb-style {
    margin-top: 22px;
}
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
